header{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
    background-color: rgb(18, 19, 20);
    color: white;
    border-bottom: 2px solid aliceblue;
}

header nav{
    max-width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    color:#eff1f5;
}

header nav .avtar{
    cursor: pointer;
}
.heading{
    color: rgb(255, 255, 255);
}